In [1]:
import pandas as pd
import pandasql as psql

In [5]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4], "name": ["MIN", "LEE", "PARK"]})

In [12]:
query = """
SELECT df2.id, df2.name
FROM df2
LEFT JOIN df1 ON df2.id = df1.id AND df2.name = df1.name
WHERE df1.id IS NULL
"""
df_r = psql.sqldf(query, locals())

In [13]:
df_r

   id  name
0   4  PARK

In [14]:
merged = pd.merge(df1, df2, how='right', indicator=True)

In [15]:
merged

   id  name      _merge
0   2   MIN        both
1   3   LEE        both
2   4  PARK  right_only

In [17]:
df_diff = merged[merged['_merge'] == 'right_only'].drop('_merge', axis=1)
df_diff

   id  name
2   4  PARK