In [2]:
import pandas as pd
import pandasql as psql

In [23]:
df1 = pd.DataFrame({"id": [1, 2, 3], "name": ["KIM", "MIN", "LEE"]})
df2 = pd.DataFrame({"id": [2, 3, 4, 5], "name": ["MIN", "LEE", "PARK", "TOM"]})
df3 = pd.DataFrame({"id": [5, 4, 2, 3], "name": ["TOM", "PARK","MIN", "LEE"]})

In [24]:
query = """
SELECT df2.id, df2.name
FROM df2
LEFT JOIN df1 ON df2.id = df1.id AND df2.name = df1.name
WHERE df1.id IS NULL
"""
df_diff_1 = psql.sqldf(query, locals())

In [25]:
merge_df = pd.merge(df1, df3, how="right", indicator=True)
df_diff_3 = merge_df[merge_df['_merge'] == 'right_only'].drop('_merge', axis=1)
df_diff_3

   id  name
0   5   TOM
1   4  PARK

In [26]:
df_diff_1.equals(df_diff_3)

False

In [27]:
df_diff_1

   id  name
0   4  PARK
1   5   TOM

In [28]:
df_diff_3

   id  name
0   5   TOM
1   4  PARK